parameters:
  level: 9
  paths:
    - src
    - tests

  ignoreErrors:
    -
      message: '/Cannot cast mixed to (int|float|string)/'
      path: 'src/ArrayCastEnvVarProcessor.php'
    -
      identifier: missingType.iterableValue
    -
      identifier: phpDoc.parseError
